doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Calc++
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_controller.js')
  body(ng-app='mlf-calculator', ng-controller='MainCtrl')
    .bar.bar-header.bar-calm
        .logo.i.icon.ion-calculator
        h1.title Calc++

    ion-content.has-header
      .display {{display}}
      .button-bar
        a.button(ng-click='addDisplay(7)') 7
        a.button(ng-click='addDisplay(8)') 8
        a.button(ng-click='addDisplay(9)') 9
        a.button.i.icon.ion-plus(ng-click='calculate("+")')
      .button-bar
        a.button(ng-click='addDisplay(4)') 4
        a.button(ng-click='addDisplay(5)') 5
        a.button(ng-click='addDisplay(6)') 6
        a.button.i.icon.ion-minus(ng-click='calculate("-")')
      .button-bar
        a.button(ng-click='addDisplay(1)') 1
        a.button(ng-click='addDisplay(2)') 2
        a.button(ng-click='addDisplay(3)') 3
        a.button.i.icon.ion-close(ng-click='calculate("*")')
      .button-bar
        a.button(ng-click='addDisplay(".")') .
        a.button(ng-click='addDisplay(0)') 0
        a.button(ng-click='clearDisplay()') C
        a.button(ng-click='calculate("/")') /
      .button-bar
        a.button.button-balanced(ng-click='answer()') =

      .memory {{memory}}
      .operator {{operator}}

    .bar.bar-footer.bar-dark
      .title
        small &copy; 2014 mlfryman
